<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To iRead</title>
    
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" media="screen and (max-width:1000px)" href="{% static 'css/phone.css' %}">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <h1 class="large-text">iRead</h1>
        </div>
        <ul class="navlist">
            <li class="list-item"><a href="">Home</a></li>
            <li class="list-item"><a href="about">About us</a></li>
            <li class="list-item"><a href="contact">Contact us</a></li>
        </ul>
        <div class="right-side">
            <form action="#" method="get">
                <input type="text" name="search" id="search" placeholder="Search">
                <button class="btn">Search</button>
            </form>
            {% block userButtonNav %}


            {% endblock userButtonNav %}
        </div>

        <div class="burger" onclick="showNav()" id="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <div class="overlay" id="overlay">
        <div class="close" onclick="closenav()">&times;</div>
        <div class="box">
            <a href="">Home</a>
            <a href="contact">Conatct</a>
            <a href="about">About Us</a>
            <form action="#" method="get">
                <input type="text" name="search" id="search" placeholder="Search">
                <button class="btn">Search</button>
            </form>
            {% block userButtonOverlay %}

            {% endblock userButtonOverlay %}
        </div>
    </div>
{% block body %}

{% endblock body %}
    <footer>
        <h1>iReads CopyRight &copy; | 2020</h1>
    </footer>

        <script src="{% static 'js/main.js' %}"></script>
</body>

</html>