{% extends 'basic.html' %}
    {% block userButtonNav %}
    {{buttons|safe}}
    {% endblock userButtonNav %}
    {% block userButtonOverlay %}
    {{buttons|safe}}
    {% endblock userButtonOverlay %}
{% load static %}
{% block body %}
    <div class="greater-container">
        <h1 class="large-text text-center cat-name">Stories</h1>
        <div class="container">
        {% for c in cat %}
            <div class="card">
                <div class="card-img">
                    <img src="https://source.unsplash.com/1600x900/?story,{{c.catName}}" alt="">
                </div>
                <div class="heading">
                    <h2><a href="/threadlist?cat=story&&type={{c.id}}">{{c.catName}}</a></h2>
                </div>
                <div class="content">
                {{c.catDesc}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock body %}